<html>
  <body>
    <div align='center'>
    <p> <%= @title %> </p>
      <form action="/start_game" method="POST">
        <div>
          <label for="pet_name">The pet's name</label>
          <input type="text" name="pet[name]" id="pet_name">
        </div>
        <div>
          <label for="pet_type">The pet's kind</label>
          <input type="text" name="kind[name]" id="pet_kind">
        </div>
        <div>
        <input type="submit" name="commit" value="create">
        </div>
      </form>
    </div>
  </body>
</html>
