.idea
.DS_Store
objects/oleksandr.zaruba/.rubocop.yml

objects/oleksandr.zaruba/hometask.md
ruby_basic/oleksandr.zaruba/task4.rb
db_dsl_active_record/workshop/.env
db_dsl_active_record/workshop/.ruby-gemset
db_dsl_active_record/workshop/.ruby-version
db_dsl_active_record/workshop/Dockerfile
db_dsl_active_record/workshop/Gemfile
db_dsl_active_record/workshop/Gemfile.lock
db_dsl_active_record/workshop/Rakefile
db_dsl_active_record/workshop/docker-compose.yml
db_dsl_active_record/workshop/hometask.md
db_dsl_active_record/workshop/run.rb
db_dsl_active_record/workshop/config/database.yml
db_dsl_active_record/workshop/config/initializers/database.rb
db_dsl_active_record/workshop/tmp/.keep
.gitignore
