// Place all the styles related to the Books controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.link a {
background-color: #4CAF50;
color: white;
padding: 7px 14px;
margin: 8px 0;
border: none;
width: 100%;
opacity: 0.9;
}