/.bundle
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/storage/*
/node_modules
/yarn-error.log
/public/assets
.byebug_history
/config/master.key
.
.DS_Store
.AppleDouble
.LSOverride
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.idea
.env