<h1>Home</h1>
<div id="messages" class="col-md-12 col-lg-12"style="height: 250px; overflow-y: scroll; height:100%">
  <% @messages.each do |message| %>
    <%= render 'messages/message', message: message %>
  <% end %>
</div>

<div class="input-group">
  <%= form_with model: @message do |f| %>
    <%= f.text_field :body %>
    <%= f.submit 'Submit'  %>
  <% end %>
</div>
