<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tamagotchi</title>

    <style>
        .block {
            display: block
        }
    </style>
</head>
<body>
<div data-health></div>

<button class="block" type="button" data-action="to-feed">To feed (+15)</button>
<button class="block" type="button" data-action="put-to-bad">Put to bad (+10)</button>
<button class="block" type="button" data-action="play-game">Play a game (+13)</button>

Timeout after any action is 3 seconds

<script defer>
    const SELECTORS = {
        HEALTH: '[data-health]',
        ALL_ACTION_BUTTONS: '[data-action]',
        ACTION_BUTTON: (action) => `[data-action="${action}"]`
    };
</script>

<script defer>
    syncHealth();

    function syncHealth() {
        fetch('/health')
            .then(responce => responce.text())
            .then(renderHealthFactory())
            .then(onSynced);
    }

    function renderHealthFactory() {
        const healthEl = document.querySelector(SELECTORS.HEALTH);
        return (health) => {
            const isDead = health === 'dead';
            healthEl.innerText = isDead ? 'Your tamagotchi is dead' : `Health: ${health}`;
            return isDead;
        }
    }

    function onSynced(isDead) {
        if (!isDead) return setTimeout(syncHealth, 1000);
        document
            .querySelectorAll(SELECTORS.ALL_ACTION_BUTTONS)
            .forEach(buttonEl => buttonEl.disabled = true);
    }

    initializeActionButton('to-feed');
    initializeActionButton('put-to-bad');
    initializeActionButton('play-game');

    function initializeActionButton(action) {
        document
            .querySelector(SELECTORS.ACTION_BUTTON(action))
            .addEventListener('click', () => doAction(action));
    }

    function doAction(action) {
        fetch(`/actions/${action}`).then(setActionButtonsTimeout);
    }

    function setActionButtonsTimeout() {
        document
            .querySelectorAll(SELECTORS.ALL_ACTION_BUTTONS)
            .forEach(buttonEl => {
                buttonEl.disabled = true;
                setTimeout(() => buttonEl.disabled = false, 3000);
            });
    }
</script>
</body>
</html>